@model BaseViewModel
<!doctype html>
<html lang="en" data-theme="emerald">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@(string.IsNullOrEmpty(Model?.PageTitle) ? "On Time" : Model.PageTitle)</title>

    <link href="~/css/styles.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>

@await RenderSectionAsync("HeadScripts", false)

@RenderBody()

<script src="~/vendor/htmx.min.js" asp-append-version="true"></script>
@await RenderSectionAsync("BottomScripts", false)

</body>
</html>