<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

    <link href="css/styles.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>

@await RenderSectionAsync("HeadScripts", false);

@RenderBody();

@await RenderSectionAsync("BottomScripts", false);

</body>
</html>