@import "tailwindcss";
@source "./Views/**/*.cshtml";
@plugin "daisyui";

@font-face {
  font-family: 'Outfit';
  src: url('../fonts/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-sans: 'Outfit', sans-serif;
}

.input-validation-error {
  border-color: #dc2626 !important;
}
.field-validation-error {
  color: #dc2626;
  font-size: 0.75rem;
  display: block;
  margin-top: 0.25rem;
}